
/* color palette */
.top-color {
  background-color: #00bcd4;
}

.sec-color {
  background-color: #7a8e91;
}

.third-color {
  background-color: #00c292;
}

.last-color {
  background-color: #00c292;
}

.top-color-cl {
  color: #00bcd4;
}

.sec-color-cl {
  color: #b2ebf2;
}

.third-color-cl {
  color: #00c292;
}

.last-color-cl {
  color: #00c292;
}

html {
  scroll-behavior: smooth;
}
/* colors */
.bg-grin {
  background-color: #00c292;
}

.bg-blu {
  background-color: #00bcd4;
}

.text-grin {
  color: #00c292;
}

.text-blu {
  color: #00bcd4;
}

.btn-grin {
  background-color: #00c292 !important;
}

.btn-blu {
  background-color: #00bcd4 !important;
}

.btn-grin:hover {
  background-color: #118d6e !important;
}

.btn-blu:hover {
  background-color: #0f6672 !important;
}


/* navigation */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  transition: 0.6s ease;
  z-index: 3;
}

nav {
  height: 70px;
  z-index: 5;
}

.nav-brand-txt {
  border:5px solid #00c292;
  margin: 0 auto;
}

.nav-brand-txt-after {
  border:5px solid #00c292;
  margin: 0 auto;
}

.search-input:focus {
  border: 2px solid #00c292;
  box-shadow: none;
}

.search-input-after:focus {
  border: 2px solid #00c292;
  box-shadow: none;
}

.search-btn {
  border: 2px solid #00c292;
  color:#00c292;
}
.search-btn-after {
  border: 2px solid white;
  color:white;
}

.search-btn:focus {
  box-shadow: 2px #00c292;
}
.seach-btn-after:focus {
  box-shadow: 2px white;
}

.search-btn:hover {
  background-color: #00c292;
  box-shadow: none;
  border: 2px solid #00c292;
}
.search-btn-after:hover {
  background-color: white ;
  color: black !important;
  box-shadow: none;
  border: 2px solid white;
}


@media only screen and (max-width: 600px) {
  .navigation > .collapse{
    background-color: #7a8e91;
    padding: .5rem;
  }
}


@media only screen and (max-width: 768px) {
  .navigation > .collapse{
    background-color: #7a8e91;
    padding: .5rem;
  }
  /* .search-btn{
    color: black !important;
  } */
} 

@media only screen and (max-width: 992px) {
  .navigation > .collapse{
    background-color: #7a8e91;
    padding: .5rem;
  }
} 

.navbar-nav .active {
  border-bottom:2px solid #00c292;
}

/* // navigation */

/* index page */
/* carousel */
.carousel-inner .carousel-item {
  height: 450px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 450px;
}
/* 
.carousel-inner,.carousel-control-prev,.carousel-control-next,.carousel-item {
  z-index: 0 !important;
} */

@media (max-width: 576px) {
  .carousel .carousel-item {
      height: 300px;
  }

  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

  /* .carousel-caption {
      font-size: 10px;
      font-weight: bold !important;
      height: 2rem;
      margin-bottom: 5rem
  } */

}

/* //carousel */

/* home category */
  .home-cat-card {
    border: none !important;
  }
  /* .home-cat-card:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
  } */

  .cat-icon {
    font-size: 2.5rem;
  }
  
/* / .home category */

/* latest product */
  .latest-product-card {
    border:none;
  }

  .latest-product-card:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  }
/* / .latest products */

/* best selling */
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left;}
    .MultiCarousel .MultiCarousel-inner .item { 
      float: left;
      width: 16rem !important;
      border: none;
      margin: 0 10px;
    }
    .MultiCarousel .MultiCarousel-inner .item:hover {
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    }
    .MultiCarousel .MultiCarousel-inner .item > div { 
      text-align: center; 
      /* padding:10px;  */
      /* margin:10px;  */
      /* background:#f1f1f1;  */
      /* color:#666; */
    }
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
/* / .best selling */

/* testimonials */
.testimonials {
 background-color: #7da0a55d;
}

.testimonial-title {
  margin-top: 1rem !important;
}

blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #999;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
  color: #555;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: '— ';
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' —';
}
@element 'blockquote' and (min-width: 300px) {
  blockquote {
    padding: 1em 20% 1em 1em;
  }
  blockquote p {
    font-size: 14pt;
  }
  blockquote:nth-of-type(even) {
    padding: 1em 1em 1em 20%;
  }
}

@media only screen and (max-width: 600px) { 
  .testimonial-img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
  }
 }

/* / .testimonials */

/* latest blog */
.latest-blog-card {
  border: none !important;
  position: relative;
  overflow: hidden;
}

.latest-blog-card img {
  transition: all .3s; /* Animation */
  transform: scale(1);
}

.latest-blog-card:hover  img{
  transform: scale(1.03);
}

.readmore-link:hover {
  color:#00c292
}
/* / .latest blog */

/* footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

/* * {
  font-family: Open Sans;
} */

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover{	
	color:  #00c292;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #00c292;
	font-size: 25px;
	width: 38px !important;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
  margin: 10px 15px;
  padding: 5px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #dfe3e7;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #00c292;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* / .footer */

