/* contact page */
.contact-info {
  background-color: #7a8e913b;
  /* height: 50px;   */
  min-width: 320px;
  max-width: 850px;
  padding: 10px;
  margin: 0 auto;
}

.contact-info .card-body div {
  display: inline-block;
  padding: 10px;
}

.contact-info .card-body div i,p {
  display: inline-block;
}

.contact-info .card-body div i {
  font-size: 30px;
}

.contact-form-section {
  min-width: 320px;
  max-width: 850px;
  padding: 10px;
  margin: 0 auto;
}

.contact-btn:hover  {
  background-color: #7a8e91ee;
}

@media only screen and (max-width: 600px) {
  .contact-info .card-body div p {
    font-size: 16px;
  }

  .contact-info .card-body div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-info {
    min-width: 100% !important;
  }
}

@media only screen and (max-width: 320px) {
  body {
    width: 100%;
  }
  .contact-info {
    min-width: 100%;
  }
}