
/* product detail */
@import url("https://fonts.googleapis.com/css?family=Amaranth|Quicksand");

.product_img, .product_details {
  height: 100%;
}

.product-detail {
  border:none !important
}

.image-viewer {
  margin: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.image-viewer .main-image {
  width: 400px;
  height: 400px;
  align-self: center;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .image-viewer .main-image {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .image-viewer .main-image {
    width: 330px;
    height: 330px;
  }
}
.image-viewer .main-image img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.image-viewer .secondary-images {
  align-self: center;
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.image-viewer .secondary-images .secondary-image {
  padding: 6.25px;
  height: 50px;
  width: 50x;
}
.image-viewer .secondary-images .secondary-image img {
  cursor: pointer;
  width: 60px;
  height: 50px;
  border: 2px solid white;
  border-radius: 6px;
}

.lightbox {
  -webkit-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: #f6c89faf;
  z-index: 501;
  opacity: 0;
}
.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  max-height: 600px;
}
.lightbox .lightbox-controls {
  position: relative;
  height: 100vh;
}
.lightbox .lightbox-controls .lightbox-control, .lightbox .lightbox-controls .lightbox-controls-close, .lightbox .lightbox-controls .lightbox-controls-previous, .lightbox .lightbox-controls .lightbox-controls-next, .lightbox.show .lightbox-controls .lightbox-controls-previous, .lightbox.show .lightbox-controls .lightbox-controls-next {
  height: 70px;
  width: 70px;
  position: absolute;
  z-index: 502;
  background: #f6c89f;
  color: white;
  font-size: 3em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}
.lightbox .lightbox-controls .lightbox-controls-close {
  position: absolute;
  top: 0%;
  right: 0%;
}
.lightbox .lightbox-controls .lightbox-controls-previous {
  position: absolute;
  top: 50%;
  left: -20%;
  -webkit-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
}
.lightbox .lightbox-controls .lightbox-controls-next {
  position: absolute;
  top: 50%;
  right: -20%;
  -webkit-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
}

.lightbox.show {
  -webkit-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
  top: 0%;
  bottom: 0%;
  opacity: 1;
}
.lightbox.show img {
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
  max-width: 600px;
  max-height: 600px;
}
.lightbox.show .lightbox-controls .lightbox-controls-previous {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transition: all 0.5s 0.75s ease-in-out;
  transition: all 0.5s 0.75s ease-in-out;
}
.lightbox.show .lightbox-controls .lightbox-controls-next {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transition: all 0.5s 0.75s ease-in-out;
  transition: all 0.5s 0.75s ease-in-out;
}

.price-tag {
  color: #00c292;
}

.price-tags {
  color:#00c292 !important;
  /* border-bottom:2px solid #00c292 !important; */
  padding: .5rem;
}

.product-detail-img-sect {
  background-color: #7a8e911a;
}

/* pricing */

.pkg {
  text-align: center;
  line-height: 2;
}

.skin-6 .num-in {
  background-color: white;
	float: left;
	width: 127px;
	height: 40px;
	padding: 3px 0;
  /* border-radius: 5px; */
  border: 2px solid black;
}

.skin-6 .num-in span {
	display: block;
	float: left;
	width: 34px;
	line-height: 39px;
	height: 30px;
	color: black;
  font-weight: bold;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.3;
	-o-transition: all 0.3;
	transition: all 0.3;
}

.skin-6 .num-in span:hover {
	color: #00c292 !important;
}

.skin-6 .num-in input {
	float: left;
	height: 30px;
	width: 52px;
	border-radius: 5px;
	text-align: center;
}

.add-order-btn {
  border: 2px solid #00c292;

}

.add-order-btn:hover {
  background-color: #00c292;
  color: white;
}

@media only screen and (max-width: 600px) {
  .pricing {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .add-order-btn {
    margin-top: .5rem;
    width: 8rem;
  }

  .add-order-sec {
    width: 20rem;
    /* margin-left: 3rem; */
    height: 3rem;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .num-block {
    /* margin-left: 1rem; */
    width: 20rem;
    /* margin-left: 3rem; */
    height: 3rem;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .pkg-sec {
    /* width: 3rem; */
    text-align: center;
  }

  /* .pkg-sec >span {
    display: flex;
    text-align: start;
    justify-content: start;
  } */
}

@media only screen and (max-width: 768px) and (min-width:601px) {
  .add-order-sec {
    width: 8rem;
    margin-left: 3rem;
    height: 1rem;
  }
  .num-block {
    margin-left: 1rem;
  }
  .pkg-sec {
    width: 3rem;
  }

  .pkg-sec >span {
    display: flex;
    text-align: start;
    justify-content: start;
  }
}
/* pricing */

/* broad description */
div {
	box-sizing: border-box;
	transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-webkit-transition: all ease-in-out .5s;
}
.icetab {
	border: 2px solid #7a8e91;
	display: inline-block; 
	border-bottom: 0px;	
	margin: 0px;	
  color: #fff;
	cursor: pointer;
	border-right: 0px;
}

@media only screen and (max-width: 600px) { 
  .icetab {
    display: flex;
    border-right: 2px solid #7a8e91;
    border-bottom: 2px solid #7a8e91;
    /* padding-top: 5px; */    
  }
}

@media only screen and (max-width:1023px) and (min-width: 768px) { 
  .icetab {
    display: flex;
    border-right: 2px solid #7a8e91;
    border-bottom: 2px solid #7a8e91;
    /* padding-top: 5px; */    
  }
}
.icetab:last-child {
	border-right: 2px solid #7a8e91;	
}

#icetab-content {
	overflow: hidden;
	position: relative;
	border-top: 2px solid #7a8e91;
}


.tabcontent {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
  width: 100%;
  height: 300px;
	border-top: 0px;
	border: 2px solid #7a8e91;
  border-top: 0px;
  overflow-y: scroll;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

.tabcontent:first-child {
	position: relative;	
}
.tabcontent.tab-active {
	border-top: 0px;
	display: block;
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}


/* A tiny wee bit of visual formating */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
	/* background: #666;
	color: #454545; */
}
.description-container {
  /* max-width: 700px; */
  /* margin: 40px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* border: 2px solid #00c292; */
  height: auto;
}
.title {
  color: #00c292;
  text-align: center;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 17px;
  margin: 40px 0px;
}
.tabcontent {
  padding: 40px;
  /* border: 2px solid #00c292; */
}
.icetab {
	padding: 3px;
	text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  /* border: 2px solid #00c292; */
}
.current-tab { 
  background: #00c292;
  color: white;
}

.add-review-btn {
  color: black;
  border: 2px solid #00c292;
}
.add-review-btn:hover {
  background-color: #00c292;
  color: #fff;
}
/* / .broad description */

