<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <hr>
    <span style="border:5px solid #00c292;margin: 0 auto;padding: 2px;">KIKU</span>
    <!-- <div>
      <p>
      <h3>Province</h3>
      <ul>
        <li ng-repeat="address in addresses | unique : 'PROVINCE'">{{address.PROVINCE}}</li>
      </ul>
      </p>
    </div>
    <div>
      <p>
      <h3>Districts</h3>
      <ul>
        <li ng-repeat="address in addresses | unique : 'DISTRICT'">{{address.DISTRICT}}</li>
      </ul>
      </p>
    </div>
    <div>
      <p>
      <h3>Sector</h3>
      <ul>
        <li ng-repeat="address in addresses | unique : 'SECTOR'">{{address.SECTOR}}</li>
      </ul>
      </p>
    </div>
    <div>
      <p>
      <h3>Cell</h3>
      <ul>
        <li ng-repeat="address in addresses | unique : 'CELL'">{{address.CELL}}</li>
      </ul>
      </p>
    </div>
    <div>
      <p>
      <h3>Village</h3>
      <ul>
        <li ng-repeat="address in addresses | unique : 'NAME'">{{address.NAME}}</li>
      </ul>
      </p>
    </div> -->
    <!-- <div>
      <p>
      <h3>Automobiles Fuel</h3>
      <ul>
        <li ng-repeat="fuel in fuels">{{fuel}}</li>
      </ul>
      </p>
    </div> -->

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="check/sample.js"></script>

  <!-- <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
      $scope.check = () => {
        $http.get('api/automobile.json')
          .then((res) => {
            $scope.automobiles = Object.keys(res.data);

            // $scope.fuels = Object.keys(res.data);             

            // for (let index = 0; index < $scope.automobiles.length; index++) {
            //   const element = $scope.automobiles[index];
            //   // console.log(element)

            // }            
          });
      }
      $scope.check();

      $scope.getProducts = () => {
        $http.get("api/getProducts.php").then((Response) => {
          $scope.products = Response.data;
          // console.log(Response)
        })

      }

      $scope.getProducts();
    });
  </script> -->

</body>

</html>