<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KIKU DASHBOARD</title>
  <!-- links -->
  <link rel="stylesheet" href="dashboard.css">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .edit_profile {
      width: 700px;
      /* height: 300px !important; */
      /* border-radius: 5px; */
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
    }

    .edit_profile:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .bg-grin {
      background-color: #00c292 !important;
    }

    .img-part {
      border-left: 2px solid rgba(206, 196, 196, 0.699);
    }
  </style>

</head>

<body ng-app="admin" ng-controller="myCtrl">
  <div class="content container-fluid">
    <div class="row bg-dark">
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12  side-navigation">
        <div class="aside">
          <!-- <h3>side</h3> -->
          <nav class="side-nav">
            <header>
              <div class="profile">
                <span ng-if="prodile != 'no'"><img ng-src="../images/{{profile}}" alt="card-img-top" height="100"
                    width="100"></span>
                <span ng-if="prodile == 'no'"><img src="../images/male-icon.png" alt="card-img-top" height="100"
                    width="100"></span>
                <span class="text-light">{{username}}</span>
                <div class="edit mt-2 p-1">
                  <span><a class="text-light text-center btn btn-grin text-decoration-none" href="#"> <i
                        class="fa fa-pencil fa-fw"></i> Edit</a></span>
                </div>
              </div>
            </header>
            <hr>
            <ul class="side-nav-links">
              <li><a href="dash.html" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a></li>
              <li><a href="products.html"><i class="fa fa-archive fa-fw"></i> Products</a></li>
              <li><a href="orders.html"><i class="fa fa-calendar-check-o fa-fw"></i> Orders</a></li>
              <li><a href="users.html"><i class="fa fa-users fa-fw"></i> Users</a></li>
              <li><a href="messages.html"><i class="fa fa-envelope fa-fw"></i> Inquiries</a></li>
              <li><a href="reports.html"><i class="fa fa-file-text fa-fw"></i> Reports</a></li>
              <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>

          </nav>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12 bg-light">
        <div class="  ">
          <div class="row mt-3 mb-2">
            <div class="col-md-9">
              <h3>Dashboard</h3>
            </div>
            <div class="col-md-3">
              <div aria-label="breadcrumb">
                <ol class="breadcrumb ">
                  <li class="breadcrumb-item "><a class="text-dark" href="dash.html">Dashboard</a></li>
                  <li class="breadcrumb-item " aria-current="page">Edit Profile</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- content -->
          <div class="d-flex align-items-center justify-content-center">
            <div class="card edit_profile ">
              <strong class="card-header">Edit Profile</strong>
              <div class="card-body">
                <form name="form">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="input">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" ng-model="username" id="username"
                          required>
                      </div>
                      <div class="input">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" name="password" ng-model="password" id="password"
                          required>
                      </div>
                      <div class="text-center mt-3">
                        <input type="hidden" name="id" ng-model="admin_id">
                        <button class="btn btn-grin" ng-click="updateProfile()">Update</button>
                      </div>
                    </div>
                    <div class="col-md-5 img-part">
                      <span ng-if="profile == 'no'"><img src="../images/male-icon.png" class="card-img" alt=""
                          height="120" width="100"></span>
                      <span ng-if="profile != 'no'"><img ng-src="../images/{{profile}}" class="card-img" alt=""
                          height="120" width="100"></span>
                      <label for="profile">Change image</label>
                      <span><input type="file" class="form-control" ng-model="profile" name="profile"
                          id="profile"></span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end content -->
        </div>
      </div>
    </div>
  </div>
  <script>

  </script>
  <script src="js/angular.min.js"></script>
  <script src="js/sweetalert2.js"></script>
  <script src="js/sweetalert1.js"></script>
  <!-- <script src="js/custom.js"></script> -->
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script>
    var app = angular.module('admin', []);

    app.controller('myCtrl', function ($scope, $http, $window) {


      $scope.username = localStorage.getItem('username');

      $scope.logout = () => {
        // $scope.loggedin = false;
        if (localStorage.getItem('username') != null) {
          var removeUser = localStorage.removeItem('username');
          // $window.location.href = "./dashboard/dash.html";
        }
        $window.location.href = "../api/logout.php";
      }

      // get admin info
      $scope.getAdminInfo = () => {
        $http({
          method: 'POST',
          url: '../api/getadmininfo.php',
          data: {
            username: $scope.username
          }
        }).then((res) => {
          $scope.password = res.data[0].password;
          $scope.profile = res.data[0].image;
          $scope.admin_id = res.data[0].id;
          console.log(res.data);
        });
      }
      $scope.getAdminInfo();

      // update profile
      $scope.updateProfile = () => {
        localStorage.setItem('username', $scope.username);
        if ($("#profile")[0].files.length != 0) {
          var fileName = document.getElementById('profile').files[0].name;
        } else {
          var fileName = "no";
        }

        // console.log($scope.admin_id)
        $http({
          method: 'POST',
          url: '../api/updateadmin.php',
          data: {
            id: $scope.admin_id,
            username: $scope.username,
            password: $scope.password,
            image: fileName
          }
        }).then((res) => {
          if (res.data == 'done') {
            Swal.fire({
              title: 'Profile updated!',
              icon: 'success'
            }).then((result) => {
              if (result.value) {
                $window.location.reload();
              } else {
                $window.location.reload();
              }
            });
          } else {
            Swal.fire({
              title: res.data,
              icon: 'warning'
            });
          }
        });
      }
    });
  </script>
</body>

</html>