<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body ng-app="dash" ng-controller="dashController">

  <!-- <li ng-repeat="p in products">
    {{product.product_name}}
  </li> -->

  <div class="details" ng-show="first">
    hahah
  </div>
  <button ng-click="first=!first">next</button>

  <script src="../js/angular.min.js"></script>
  <!-- <script src="../js/angular-route.js"></script> -->
  <script src="../js/custom.js"></script>
</body>
</html>